* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.componente {
	background-color: #000;
	color:  #fff;
	padding: 25px;
	border-radius: 10px;
}

.titulo {
	font-weight: bold;
	font-size: 1.4em;
	margin-bottom: 20px;
}

li {
	padding: 8px 0px;
	border-bottom: 1px solid blue;
}